.Movie {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 1px;
}
.Movie img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    box-shadow:  4px 8px rgba(26, 224, 52, 0.1);
}

.Movie a {
    text-decoration: none;
}